/* Estilos para los componentes generales */
* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

header img {
  width: 100%;
  height: auto;
}

/* Estilos de secciones */

/* Estilos del header */
.s-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: #b51818;
}

.s-header__menu {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: auto;
}

.s-header__logo {
  height: 60px;
  padding: 16px;
}

/* Estilos galeria de coches */
.s-cars-gallery {
  background-image: url(../img/comet_baja_brillo.jpg);
  object-fit: cover;
  padding-bottom: 2rem
}

.s-cars-gallery__title {
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 16px 0;
}

.s-cars-gallery__title::after {
  content: "";
  display: block;
  width: 5%;
  text-align: center;
  border-bottom: 0.25rem solid #b51818;
  margin: 0.25rem auto 0px;
}

.s-cars-gallery__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  margin: 32px;
}

.s-cars-gallery__cars {
  width: 20vw;
  flex-wrap: wrap;
  object-fit: cover;
}

.s-cars-gallery__btn {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  background-color: rgb(181, 24, 24);
  border: white 1px solid;
}

.s-cars-gallery__btn--txt {
  padding: 32px;
}

/* Estilos reseñas */
.cajareseña {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reseña {
  width: 18%;
  margin-top: 60px;
  margin-bottom: 67px;
  margin-left: 15px;
  margin-right: 20px;
  border: rgb(205, 200, 200) 1px solid;
  padding: 25px;
}

.titulo2 {
  font-size: 17px;
  text-align: center;
}

.titulo2::after {
  content: "";
  display: block;
  width: 20%;
  text-align: center;
  border-bottom: 0.25rem solid rgb(255, 0, 0);
  margin: 0.4rem auto 0px;
}

.titulo3 {
  
  font-size: 30px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2%;
}

.titulo3::after {
  content: "";
  display: block;
  width: 5%;
  text-align: center;
  border-bottom: 0.25rem solid rgb(255, 0, 0);
  margin: 0.25rem auto 0px;
}

.titulo4 {
  
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

.titulo4::after {
  content: "";
  display: block;
  width: 5%;
  text-align: center;
  border-bottom: 0.25rem solid rgba(254, 0, 0, 0.979);
  margin: 0.25rem auto 0px;
}

.texto2 {
  font-size: 15px;
}

/* Estilos cards mecanico */
.mecanico {
  background-image: url(../img/geri.png);
  background-color: rgb(51, 51, 51);
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  padding: 1px 0 1px 0;
}

.cajatarjeta {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: row;
}

.tarjeta {
  width: 400px;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border: white 0px solid;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px;
}

/* Estilos seccion del mapa */
.mapa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media (max-width: 900px) {
}

@media (max-width: 350px) {
}
