body {
  background: white;
  padding: 0;
  margin: 0;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
nav {
  position: sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: #b51818;
  
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  
}

.logo {
  height: 85px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header img {
  width: 100%;
  height: auto;
}

.comet {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 66%;
  object-fit: cover;
} 

.row{
  display: flex;
    flex-direction: row;
    gap: 15px;
}

.coche1 {
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: white 1px solid;
    margin-left: 1%;
    
    
}
.coche2 {
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-image: url(../img/7.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: white 1px solid;
}
.coche3 {
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-image: url(../img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: white 1px solid;
}
.coche4 {
    width: 450px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: white 1px solid;
    margin-right: 1%;
}
.botoncoche {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    background-color: rgb(181, 24, 24);
    border: white 1px solid;
}

.cajareseña {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reseña {
    width: 18%;
    margin-top: 15px;
    margin-bottom: 22px;
    margin-left: 15px;
    margin-right: 20px;
    border: rgb(205, 200, 200) 1px solid;
    padding: 25px;
}
.titulo2 {
    font-size: 17px;
    text-align: center;
}

.titulo2::after {
    content: "";
    display: block;
    width: 20%;
    text-align: center;
    border-bottom: 0.25rem solid rgb(255, 0, 0);
    margin: 0.4rem auto 0px;
}
.titulo1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}
.titulo1::after {
    content: "";
    display: block;
    width: 5%;
    text-align: center;
    border-bottom: 0.25rem solid rgba(254, 0, 0, 0.979);
    margin: 0.25rem auto 0px;
}

.titulo3 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2%;
}
.titulo3::after {
    content: "";
    display: block;
    width: 5%;
    text-align: center;
    border-bottom: 0.25rem solid rgb(255, 0, 0);
    margin: 0.25rem auto 0px;
}
.titulo4 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
.titulo4::after {
    content: "";
    display: block;
    width: 5%;
    text-align: center;
    border-bottom: 0.25rem solid rgba(254, 0, 0, 0.979);
    margin: 0.25rem auto 0px;
}

.texto2 {
    font-size: 15px;
}
.mecanico {
    background-image: url(../img/geri.png);
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 1px 0 1px 0;
}
.cajatarjeta {
    display: flex;              
    justify-content: center;    
    gap: 20px;                  
    flex-wrap: row;           
}

.tarjeta {
    width: 400px;   
    margin-top: -10px;            
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: white 0px solid;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 15px;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mapa{
  align-items: center;  
}

@media (max-width: 900px) {
}

@media (max-width: 350px) {
}
