body {
  background: white;
  padding: 0;
  margin: 0;
}
.linea::after {
  content: "";
  display: block;
  width: 6%;
  border-bottom: 0.25rem #b51818 solid;
  margin: 0 auto;
  margin-top: .5rem;
  text-align: center;    
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
nav {
  position: sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: #b51818;
  
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  
}

.logo {
  height: 85px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header img {
  width: 100%;
  height: auto;
}

.texto-comet {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 2%;
}

.comet {
  position: absolute;
  z-index: -1; 
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover; 

}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: black;
  text-align: center;
  font-weight: bold;
  margin-top: 6%;
  border-bottom: 2% solid #b51818;

}

.equipo-grid {
  display: flex;
  gap: 3%;
  flex-wrap: column;
  justify-content: center;
  flex-direction:  row;
}
.equipo-item {
  background: #b51818;
  border-radius: 1%;
  width: 45%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.foto-equipo {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1%;
  border-radius: 1%;
  margin-right: 3%;

}
.info-equipo {
  text-align: center;
}

footer {       
  text-align: center;
  margin: 0;;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #000000;
  text-align: center;
  background-color: #b7b7b7;
  padding: 5px;
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.textfooter {
  font-size: 14px;
}

@media (max-width: 900px) {
  nav {
        flex-direction: column; 
        padding-bottom: 10px;
        height: auto; 
    }

    .logo {
        margin: 10px auto;
        height: 50px; 
    }

     .menu {
        flex-direction: column; 
        gap: 10px; 
        margin-top: 1px;
        width: 100%; 
        padding: 0;
    }

    .menu li {
        text-align: center; 
        width: 100%;
    }

    .menu a {
        font-size: 16px; 
        display: block;  /* Para que sea fácil darle con el dedo */
        padding: 5px 0;
    }

  .comet {
    height: 100%;
  }
  .texto-comet{
    text-align: justify;
    font-size: 19px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .equipo-grid {
    flex-direction: column;
    gap: 18px;
  }

  .equipo-item {
    width: 70%;
    margin-left: 13%;
    flex-direction: column;
    text-align: center;
  }
  .foto-equipo {
    width: 100%;
    max-width: 350px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  body, h2, p, .textfooter {
    font-size: 15px;
  }
  .texto-comet{
    font-size: 13px;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
    
  }
    nav {
        flex-direction: column; 
        padding-bottom: 10px;
        height: auto; 
    }

    .logo {
        margin: 7px auto;
        height: 50px; 
    }

    .menu {
        flex-direction: column; 
        gap: 10px; 
        margin-top: 1px;
        width: 100%; 
        padding: 0;
    }

    .menu li {
        text-align: center; 
        width: 100%;
    }

    .menu a {
        font-size: 16px; 
        display: block;  /* Para que sea fácil darle con el dedo */
        padding: 5px 0;
    }
    
  .equipo-grid {
    flex-direction: column;
    gap: 18px;
  }
  .comet {
    height: 98%;
  }
  .equipo-item {
    width: 70%;
    margin-left: 10%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}