body {
  background: white;
  padding: 0;
  margin: 0;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
nav {
  position: sticky; 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background: #b51818;
  
}

.menu {
  display: flex;
  justify-content: center;
  gap: 15%;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  
}

.logo {
  height: 85px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
header img {
  width: 100%;
  height: auto;
}

